doctype html
html
	head
		meta(charset="utf-8")
		title Actualiza Conciertos
	body
		if registros
			each registro in registros
				h2 #{registro.id}
				ul
					li #{registro.artista_id}
					li #{registro.nombre}
					li #{registro.ciudad}
					li #{registro.lugar}
					li #{registro.fecha}
					li #{registro.hora}
					li #{registro.aforo}
					li #{registro.asistentes}