doctype html
html
	head
		meta(charset="utf-8")
		title Selecciona Conciertos
	body
		p 
		form(id="seleccionaConciertoForm" action="/conciertos/seleccionarConcierto/seleccionar" method="get")
			p
				select(name="nombresRecetas" form="seleccionaConciertoForm")
					each registro in registros
						option(value=registro.id_concierto) #{registro.nombre}
			p
				input(type="submit" value="Muestra Concierto")
		if registros2
			form(id="seleccionarConciertoForm" action="/conciertos/seleccionarConcierto/" method="post")
				p
					label(for="nombreConcierto") Nombre:
					input(id="nombreConcierto" type ="text" name="nombre" value=registros2[0].nombre)
				p
					label(for="aforoConcierto") Aforo:
					input(id="aforoConcierto" type ="number" name="aforo" value=registros2[0].aforo)
				p
					label(for="asistentesConcierto") Asistentes:
					input(id="asistentesConcierto" type ="number" name="asistentes" value=registro2[0].asistentes)
				p
					input(type="submit" id="button" value="Actualizar")
					input(type="hidden" name="_method" value="put")
		if(asistentesConcierto >= aforoConcierto)
 			(#{mensaje}"Sold out")